.course {
  padding-bottom: 80px;

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  &__title {
    margin: 16px 0 8px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
  }

  &__subtitle {
    margin-bottom: 24px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
  }

  &-body {
    display: flex;
    align-items: center;
    gap: 32px;
    overflow: auto;
    
    @include breakpoint(md) {
      flex-direction: column;
    }
  }
}
