.main-app {
  padding-top: 100px;

  @include breakpoint(sm) {
    padding-top: 0;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  .inner-wrapper {
    display: flex;
    gap: 32px;

    @include breakpoint(lg) {
      gap: 20px;
    }
  }

  &-body {
    flex: 1;
  }

  &-article {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    .article__title {
      margin: 16px 0 20px 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.9);

      @include breakpoint(lg) {
        margin: 10px 0 15px 0;
      }

      @include breakpoint(xs) {
        margin: 8px 0 16px 0;
      }
    }

    .article-wrapper {
      display: flex;
      gap: 24px;

      @include breakpoint(lg) {
        flex-direction: column;
        margin-bottom: 36px;
      }

      @include breakpoint(xs) {
        margin-bottom: 32px;
        gap: 16px;
      }
    }
  }

  &-items {
    max-width: 440px;

    @include breakpoint(md) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      max-width: 100%;
      transform: translateY(100%);
      z-index: 2222;
      transition: all 0.3s;
      overflow: auto;
      background: #1a1a1a;
      border-radius: 10px;

      &.show {
        transform: translateY(0);
      }
    }
  }

  &-playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 48px;

    @include breakpoint(md) {
      margin-top: 35px;
      padding: 0 16px;
    }
  }
}
