@import "./media"; 

.container-sm {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 567px) {
  .container-sm {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container-sm {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-sm {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-sm {
    width: 1170px;
  }
}

@media (min-width: 1500px) {
  .container-sm {
    width: 1240px;
    padding-right: 15px;
    padding-left: 15px;
  }
}