.article-card {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  margin-bottom: 36px;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }

  @include breakpoint(md) {
    max-width: 100%;
  }

  &-body {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 24px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;

    .icon__title {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__text {
    width: 100%;
    font-weight: 500;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.9);
  }

  &__img {
    width: 118px;
    margin-left: 7px;
    border-radius: 6px;
    overflow: hidden;

    @include breakpoint(sm) {
      width: 75px;
      min-width: 68px;
      height: 68px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-views {
    display: none;

    @include breakpoint(md) {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 12px;
    }
  }

  &__views {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.4);
  }
}
