.main-playlist {
  position: relative;
  width: 100%;

  @include breakpoint(md) {
    &::after {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: linear-gradient(
      180deg,
      rgba(8, 8, 8, 0) 0%,
      rgba(8, 8, 8, 0.83) 63.54%,
      #080808 100%
    );
  }

  .playlist {
    &-wrapper {
      display: flex;
      flex-direction: column;
      max-height: 530px;
      padding-bottom: 40px;
      padding-right: 3px;
      overflow-y: scroll;

      @include breakpoint(xl) {
        max-height: 380px;
      }

      @include breakpoint(lg) {
        max-height: 265px;
      }

      @include breakpoint(md) {
        max-height: none;
        overflow: visible;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &__icon {
      display: none;
      position: absolute;
      width: 68px;
      height: 25px;
      top: -1%;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      border: none;
      outline: none;

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include breakpoint(md) {
        display: block;
      }
    }

    &__pretitle {
      display: none;
      margin: 18px 0 16px 16px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.9);

      @include breakpoint(md) {
        display: block;
      }
    }

    &__title {
      padding: 10px 24px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.15px;
      color: rgba(255, 255, 255, 0.9);
      background: rgba(255, 255, 255, 0.06);
      border: 1px solid rgba(255, 255, 255, 0.04);
      border-radius: 10px;

      @include breakpoint(md) {
        border-radius: 0;
      }
    }

    &-video {
      display: flex;
      justify-content: space-between;
      padding: 21px 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      text-decoration: none;

      &:last-child {
        border-bottom: none;
      }
    }

    &__name {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.9);
    }

    &__time {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: right;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
